<h2>Make a bet for this round.</h2>

<h4><%= session[:username] %> has $<%= session[:max_bet] %></h4>

<form action="/bet_form" method="post">
  <input type="text" name="bet_amount"/>
</br>
  <input type="submit" class="btn"/>
</form>
