<h1>Welcome to my super awesome Blackjack app!</h1>

<h4>Please login:</h4>

<form action="/bet_form" method="post">
  <input type="text" name="username"/>
  <input type="submit" class="btn"/>
</form>
