<h1>Let's get started!</h1>
<p>Dealer has one card face up and one card face down</p>

<p>Player has two cards face up</p>
<p>Player has 19. What would Player like to do? Player has $500 total. Bet amount this round: $50</p>
<p>Hit or stay?</p>
<p>Hit</p>
<p>Stay</p>
