<div id="form-questions">
  <h3>What's your name?</h3>
  <form action="/new_player" method="post">
    <input type="text" name="player_name"/>
    <br/>
    <input type="submit" class="btn" value="Never tell me the odds!"/>
  </form>
</div>
